<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737317154851-qojnghhtn9nf8hpcndlj26955m1gi7eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737317154851-qojnghhtn9nf8hpcndlj26955m1gi7eo</string>
	<key>API_KEY</key>
	<string>AIzaSyCR7KcyyChVnAo_NvwQv68W5XMBX2TBFEk</string>
	<key>GCM_SENDER_ID</key>
	<string>737317154851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodWasteManagement</string>
	<key>PROJECT_ID</key>
	<string>foodwastemanagement-82a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodwastemanagement-82a1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737317154851:ios:196d22ee601fd0de998196</string>
</dict>
</plist>